<h2> This will be the search all recipe page</h2>

<div>
  <%= form_tag(recipes_all_path) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
